:root{
    --mainBrown:#2d1e1f;
    --mainYellow:#ff9e09;
    --mainGrey:#ece8dc;
    --mainWhite:#fff;
    --mainDark:#222;
}
body{
    background:var(--mainWhite);
    color:var(--mainDark);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace !important;
    letter-spacing: 0.25em !important;
}
.text-yellow{
    color: var(--mainYellow);
}
.cart-icon{
    cursor:pointer;
    color:var(--mainYellow);
    font-size: 2rem;
}

/* navbar start */
.navbar-toggler:focus{
    box-shadow: unset !important;
}
.navbar-light .navbar-toggler{
    border:unset !important;
}
/* navbar end  */
.default-background,.about-background{
    min-height:calc(100vh - 74px);
    display: flex;
    align-items:center;
    justify-content: center;
    background: linear-gradient(rgba(255,158,9,0.5),rgba(255,158,9,0.5));
    background-position: center;
    background-size:cover;
    opacity:unset !important;
}
/*start scoller */
::-webkit-scrollbar {
            width: .5em;
  }
                
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #adb5bd;
}
                
::-webkit-scrollbar-thumb {
  background-color: var(--mainYellow);
  outline: 1px solid var(--mainYellow);
}
/*end scoller */
.btn-yellow{
    color:var(--mainYellow);
    border-color: var(--mainYellow);
}
.btn-yellow:hover{
    background-color:var(--mainYellow);
    color:var(--mainBrown) ;
}
.titleing{
    font-weight:bold !important;
}
.footer{
    background:var(--mainBrown);
}
/*about page start*/

.about-background{
    min-height:60vh;
 
}

/*about page end*/
.menu,.contact{
    background:var(--mainGrey)
}
.iamging{
    border-radius: 5px;
}
/* {products} */
.card-img-top{
 max-width: 100%;
 max-height:200px;
 min-height:200px;
 object-fit: cover;  
}


.card{
    min-height: 100% !important;
}
.float-right{
    float: right !important;
}
/* Carousel */
@media screen and (min-width: 992px) {
.carousel-control-next{
    right: 170px !important;
    
}}
@media screen and (min-width: 992px) {
.carousel-control-prev{
    left: 170px !important;
    
}}